.cc-window {
    background-color: #00081ac0 !important;
}

.cc-btn.cc-allow {
    background-color: #FFA630 !important;
}

.cc-revoke.cc-bottom.cc-animate {
    background-color: #00081ac0 !important;
}

.navbar-brand__name {
    display: none !important
}
