.blog-header,
.videos-header {
  flex: 0 0 100%;
  padding-bottom: 1em;
}

.blog-card {
  width: 350px;
  height: 23em;
  background-color: white;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: auto;
  margin-right: auto;
  position: relative;

  figure img {
    width: 350px;
    height: 125px;
    object-fit: cover;
    object-position: 0% 0%;

    margin-bottom: 0;
    margin-top: 0;
    margin-left: auto;
    max-width: 100%;
  }

  .blog-card-body {
    padding: 10px;
    border-bottom: 1px solid lightgray;
  }

  .blog-card-date {
    font-size: x-small;
    color: gray;
    text-transform: uppercase;
  }

  .blog-card-title {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1em;
    height: 3em;
  }

  .blog-card-author {
    display: none;
  }

  .blog-card-summary {
    font-size: 0.8em;
    max-height: 7em;
    overflow: hidden;
    position: relative;
  }

  .pt-0 {
    text-align: right;
    position: absolute;
    right: 1em;
    bottom: 0;
  }
}

.video-card {
  max-width: 300px;
  height: 18em;
  background-color: white;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: auto;
  margin-right: auto;
  position: relative;

  figure {
    text-align: center;

    img {
      width: 240px;
      height: 125px;
      object-fit: cover;
      object-position: 0% 50%;

      margin-bottom: 0;
      margin-top: 0;
      margin-left: auto;
      max-width: 100%;
    }
  }

  .video-card-body {
    padding: 10px;
    border-bottom: 1px solid lightgray;
  }

  .video-card-date {
    font-size: x-small;
    color: gray;
    text-transform: uppercase;
  }

  .video-card-title {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1em;
    height: 3em;
  }

  .pt-0 {
    text-align: right;
    position: absolute;
    right: 1em;
    bottom: 0;
  }
}

img {
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 5%;
  max-width: 90%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 1.0rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 2rem;
}

h1, .h1 {
  margin-top: 0;
}

h2, .h2 {
  font-size: 1.8rem;
}

.td-sidebar-nav {
  padding-top: 1rem;
}

.td-navbar {
  background-color: #031e30;

  .navbar-brand span.font-weight-bold {
    display: none;
  }

  .navbar-brand svg {
    display: inline-block;
    width: auto;
  }

  @media (min-width: 768px) {
    .td-navbar-nav-scroll,
    .navbar-nav {
      margin-top: .5em;
    }
  }

  @media (max-width: 1432px) {
    .td-navbar-nav-scroll {
      margin-top: 0;
    }
  }
  
  @media (max-width: 991.98px) {
    .td-navbar .td-navbar-nav-scroll {
      margin-top: 0;
    }
  }
}

.td-navbar-cover {
  background-color: #00081ac0 !important;
}

#td-cover-block-0 {
  padding-top: 16rem;

  .display-1,
  p.lead {
    text-shadow: 1px 1px #031e30;
  }
}

.td-box {
  .row >div {
    margin-top: 1.6em;
  }

  h4.h3 {
    height: 2.6em;
    margin-top: 0.6em;
  }

  @media (max-width: 1432px) {
    h4.h3 {
      height: 3.2em;
    }
  }
  
  @media (max-width: 991.98px) {
    h4.h3 {
      height: 1.2em;
    }
  }

  .row .mb-4 {
    margin-bottom: 0.6em !important;
  }
}