@import url(../fonts/css.opensans.css);
body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.td-page-meta > a:nth-child(3) {
  display: none !important;
}
.td-page-meta--issue {
  display: none !important;
}
.td-page-meta--project-issue {
  display: none !important;
}
.td-page-meta--view { 
  display: none !important; 
}
.td-page-meta--edit { 
  display: none !important; 
}
.td-toc { 
  display: none !important; 
}
