/*

Add styles or override variables from the theme here.

*/
$dark: #031e30 !default;
$dark-nav-transparent: #00081ac0;

$nav-color: #65abdc;
$navbar-dark-color: $nav-color !default;
$navbar-dark-hover-color: #98cdea !default;
// $navbar-dark-active-color: $white;
$navbar-dark-disabled-color: rgba($nav-color, 0.25) !default;

$td-enable-google-fonts: false;