.section-index {

    .entry {
        padding: 0px 15px;;
    }

    h5 {
        margin-bottom: 0;

        a {
            font-weight: 700;
        }
    }

    p {
        margin-top: 0;
    }
}
